.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.section-bg{
    background-color: #FFF8F3;
}

.text-center{
    text-align: center;
}

/* Header Style */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner Style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}

.banner-profile-picture{
    width: 584px;
    height: 676px;
}

/* Main Style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Style */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.about-item-title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: -10px;

}

.about-item-description{
    font-size: 20px;
    font-weight: 700;
    color:#474747;
}

/* What I do Section Style */

.what-i-do{
    margin-top: 130px;
}

.what-i-do-container{
    display: flex;
    gap: 30px;
}

.contant-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.what-i-do-contant{
    padding: 33px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06) ;
    border-radius: 5px;
}
